<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${'Purchase Request '+pr.prNo+' Details'}"></title>
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
<meta id="_csrf_token" name="_csrf_token" th:content="${_csrf.token}" />
</head>
<body>
	
	<nav class="nav navbar-default navbar-fixed-top" th:include="index::nav"></nav>
	
	<div class="page-header container">
		<h1 th:text="'Purchase Request '+${pr.prNo}"></h1>
	</div>

	<div class="container">	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	<a th:href="@{${@jasperserverUrl}+'/rest_v2/reports/'+${@reportUrl}+'/PurchaseRequest.pdf?prno='+${pr.prNo}}" class="btn-generate-pdf">Generate Pdf</a>
	<span>/</span>
	<a th:href="@{${@jasperserverUrl}+'/rest_v2/reports/'+${@reportUrl}+'/PurchaseRequest.xls?prno='+${pr.prNo}}" class="btn-generate-xls">Generate Xls</a>
	<form id="formPr" >
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="department.id" th:value="${#authentication.getPrincipal().department.id}" sec:authorize="hasRole('ROLE_USER')"/>
		
			<label for="department">Department</label>
			<select  id="department" th:field="${pr.department.id}" th:required="required" >
				<option value="">Select Department</option>
				<option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.departmentName}"></option>
			</select>
		</div>
		<div >
			<label for="prDate">Date</label>
			<input type="date"  th:field="${pr.prDate}" th:required="required" />
		</div>
		<div >
			<label for="modeOfProcurement">Mode of Procurement</label>

			<select th:field="${pr.modeOfProcurement}" th:required="required" >
				<option value="">Select Mode of Procurement</option>
		 		<option value="Public Bidding">Public Bidding</option>
		 		<option value="Small Value Procurement">Small Value Procurement</option>
		 		<option value="Shopping">Shopping</option>
			</select>
		</div>
		<div class="form-group">
			<label for="purpose">Purpose</label><br />
			<textarea rows="2" cols="50" th:field="${pr.purpose}"></textarea>
		</div>
	</form>
		
	<!-- modal button -->
	<button type="button" data-toggle="modal" data-target="#prModal">Select Items</button><br />
	
	<!-- pr item page size -->
	<label for="selectPrItemPageSize">Show</label>
	<select id="selectPrItemPageSize">
		<option>5</option>
		<option>10</option>
		<option selected="selected">20</option>
		<option>50</option>	
	</select><span> entries</span><br />
	
	<!-- table form -->
	<form id="formPrItems">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<table id="dtRemove" class="table">
		<tr>
			<th>ID</th>
			<th>Item Name</th>
			<th>Description</th>
			<th>Unit</th>
			<th>Quantity</th>	
			<th>ABC</th>	
			<th>Action</th>
		</tr>
	</table>
	</form>
	<button type="submit" form="formPrItems" class="btn btn-default">Save Items</button>
	<button type="submit" form="formPr" class="btn btn-default" >Save Purchase Request</button>
	<button type="button" id="btnSaveAll" class="btn btn-primary">Save All</button>
	<ul id="itemspagination" class="pager"></ul>
	</div>
	
	<div id="prModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Select Items</h4>
				</div><!-- end header -->
				<div class="modal-body">

					<!-- Search form -->
					<label for="selectSearchBy">Search by</label> <select
						name="selectSearchBy" id="selectSearchBy">
						<option selected="selected" disabled="disabled">Select
							column</option>
						<option value="name">Name</option>
						<option value="description">Description</option>
					</select> <input type="search" name="searchValue" id="inputSearch"
						disabled="disabled" />
					<button id="btnSearch" disabled="disabled" type="button">
						<span class=" glyphicon glyphicon-search"></span>
					</button>
					<br />

					<!-- Page size controls -->
					<label for="selectPageSize">Show</label> 
					<select	id="selectPageSize">
						<option>5</option>
						<option>10</option>
						<option selected="selected">20</option>
						<option>50</option>
					</select> <span>entries</span><br />
					
					<!-- Table -->
					<form id="formAddItems">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<input type="hidden" name="pr" th:value="${pr.prNo}" id="txtPRNo" />
					<table id="dtSelection" class="table">
						<tr>
							<th></th>
							<th>ID</th>
							<th>Item Name</th>
							<th>Description</th>
						</tr>
					</table>
					</form>
					
					<!-- Pagination -->
					<ul id="pagination" class="pager"></ul>					
				</div><!-- end body -->	
				<div class="modal-footer">
					<button type="submit" form="formAddItems" class="btn btn-primary">Add Items</button>
				</div>
			</div><!-- end modal content -->
		</div><!-- end modal dialog -->		
	</div><!-- end modal -->
	
	
	<script type="module" th:src="@{/js/prItems.js}"></script>

	<!-- bootstrap -->
	<script th:src="@{/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/js/jasperControls.js}" type="text/javascript"></script>
</body>
</html>