<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Purchase Request</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="nav navbar-default navbar-fixed-top" th:include="index::nav"></nav>
	<div class="container page-header">
		<h1>New Puchase Request</h1>
	</div>
	<div class="container">
	<!-- Form -->
	<form method="post" th:object="${purchaseRequest}" th:action="@{/pr/save}">
		<div class="form-group">
			<label for="prNo">P.R. Number</label> 
			<input th:field="*{prNo}" placeholder="P.R. Number"/>
		</div>
		<input type="hidden" name="department" th:value="${#authentication.getPrincipal().department.id}" sec:authorize="hasRole('ROLE_USER')" />
		<div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
			<label for="department">Department</label> <select
				th:field="*{department}">
				<option value="">Select Department</option>
				<option th:each="department : ${departments}"
					th:value="${department.id}" th:text="${department.departmentName}"></option>
			</select>
		</div>
		 <div class="form-group">
			<label for="modeOfProcurement">Mode of Procurement</label>
		 	<select th:field="*{modeOfProcurement}">
		 		<option value=" ">Select Mode of Procurement</option>
		 		<option value="Public Bidding">Public Bidding</option>
		 		<option value="Small Value Procurement">Small Value Procurement</option>
		 		<option value="Shopping">Shopping</option>
		 	</select>
		 </div>
		<div class="form-group">
			<label for="purpose">Purpose</label><br />
			<textarea rows="5" cols="80" th:field="*{purpose}" placeholder="Purpose"></textarea>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>
	
	<script type="text/javascript" th:src="@{/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	
</body>
</html>
